{% extends 'layout.html' %}
  
{% block title %}Manejo de peliculas{% endblock %}

{% block content %}
    <div class="section">
        <div class="row">
            <div class="col-lg-4 my-4">
                <a href="{{url_for('agregarPeliculaForm')}}" class="hero-squares">
                    <h1>Añadir</h1>
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
            <div class="col-lg-4 my-4">
                <a href="{{url_for('actualizarPeliculaTitle')}}" class="hero-squares">
                    <h1>Actualizar</h1>
                    <i class="fa-solid fa-arrow-up"></i>
                </a>
            </div>
            <div class="col-lg-4 my-4">
                <a href="{{url_for('borrarPeliculaResul')}}" class="hero-squares">
                    <h1>Eliminar</h1>
                    <i class="fa-solid fa-trash"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="section"> 
        <div class="row my-4">
            <div class="col-lg-12">
                <h3>MOVIES</h3>
            </div>
            {% for movie in movies %}
            <div class="col-lg-3 col-sm-6 my-4">
                <div class="cuadro-producto">
                    <h3>{{movie.Title}}</h3>
                </div>
            </div>
            {% endfor %}
            <div class="col-lg-12">
                <div class="pagination">
                    {% if page > 1 %}
                        <a class="button" href="{{ url_for('content', page=page - 1) }}">Página Anterior</a>
                    {% else %}
                        <div></div>
                    {% endif %}
                    <div class="pagination_numbers">
                    {% if page > 1 %}
                        <a href="{{ url_for('content', page=page - 1) }}">{{ page - 1}}</a>
                    {% endif %}
                        <strong>{{page}}</strong>
                    {% if (page * products_per_page) < total_products %}    
                        <a href="{{ url_for('content', page=page + 1) }}">{{ page + 1}}</a>
                    {% endif %}
                    </div>
                    {% if (page * products_per_page) < total_products %}
                        <a class="button" href="{{ url_for('content', page=page + 1) }}">Siguiente Página</a>
                    {% else %}
                        <div></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}