{% extends 'layout.html' %}
  
{% block title %}Inicio{% endblock %}

{% block content %}
    <div class="tabcontent">
        <div class="section"> 
            <div class="row my-4">
                <div class="col-lg-3 col-sm-6 my-4">
                    <div class="cuadro-movies">
                        <a class="button" href="{{ url_for('filtrar', filtro='ratingGenre') }}">Genre for rating</a>
                    </div>
                    <div class="cuadro-movies">
                        <a class="button" href="{{ url_for('filtrar', filtro='titulo') }}">Titulo</a>
                    </div>
                    <div class="cuadro-movies">
                        <a class="button" href="{{ url_for('filtrar', filtro='director') }}">Director</a>
                    </div>
                    <div class="cuadro-movies">
                        <a class="button" href="{{ url_for('filtrar', filtro='distribuidor') }}">Distributor</a>
                    </div>
                    <div class="cuadro-movies">
                        <a class="button" href="{{ url_for('filtrar', filtro='genre') }}">Genre</a>
                    </div>
                    <div class="cuadro-movies">
                        <a class="button" href="{{ url_for('filtrar', filtro='mpaa') }}">MPAA</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}