{% extends 'layout.html' %}
  
{% block title %}Inicio{% endblock %}

{% block content %}
    <div class="tabcontent">
        <div class="section"> 
            <div class="row my-4">
                <div class="col-lg-3 col-sm-6 my-4">
                    <div class="cuadro-movies">
                        <a class="button" href="{{ url_for('search', filtro='rating') }}">rating</a>
                    </div>
                    <div class="cuadro-movies">
                        <a class="button" href="{{ url_for('search', filtro='titulo') }}">titulo</a>
                    </div>
                    <div class="cuadro-movies">
                        <a class="button" href="{{ url_for('search', filtro='director') }}">director</a>
                    </div>
                    <div class="cuadro-movies">
                        <a class="button" href="{{ url_for('search', filtro='distributor') }}">distributor</a>
                    </div>
                    <div class="cuadro-movies">
                        <a class="button" href="{{ url_for('search', filtro='genre') }}">genre</a>
                    </div>
                    <div class="cuadro-movies">
                        <a class="button" href="{{ url_for('search', filtro='mpaa') }}">mpaa</a>
                    </div>
                </div>
                <div class="row">
                    {% for movies in moviesData %}
                            <div class="col-lg-3 col-sm-6 my-4">
                                <div class="cuadro-movies">
                                    <h3>{{movies.Title}}</h3>
                                    <a class="button" href="{{ url_for('pelicula', id=movies._id) }}">INFO</a>
                                </div>
                            </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}