{% extends 'layout.html' %}
  
{% block title %}Inicio{% endblock %}

{% block content %}
    <div class="tabcontent">
        <div class="section"> 
            <div class="row my-4">
                {% for movies in moviesData %}
                <div class="col-lg-3 col-sm-6 my-4">
                    <div class="cuadro-movies">
                        <h3>{{movies.Title}}</h3>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}