{% extends 'layout.html' %}
  
{% block title %}Añadir Producto Nuevo{% endblock %}

{% block content %}
    <div class="section">
        <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-6">
                <div class="col-lg-3 col-sm-6 my-4">
                    <div>
                        <h1>{{movies.Title}}</h1>
                    </div>
                </div>
                <a class="button" href="{{ url_for('index') }}">Regresar</a>
                <a class="button" href="{{ url_for('content') }}">Actualizar</a>
                <a class="button" href="{{ url_for('content') }}">Borrar+</a>

            </div>
        </div>
    </div>
{% endblock %}